
#mainInputBox {

}

.editInputBox {

}

#customBox {
	width: 200px;
}

.itemBox {
	width: 200px;

}

#addButton {

}

.delete {

}

.edit {

}

.todoList {

}

.completedItem {
	text-decoration: line-through;
}

