#custom_textbox {
  width: 200px; }

.itemBox {
  width: 200px; }

.completed_item {
  text-decoration: line-through; }

h1 {
  display: inline-block; }

body {
  background-color: #c8c9ca; }

.container {
  background-color: #ffffff;
  border-radius: 10px;
  width: 50%; }
