// -- Form Classes & ID's -- //


#main_input_box {

}

.edit_input_box {

}


// -- Textbox Classes & IDs -- //

#custom_textbox {
        width: 200px;
}

.itemBox {
        width: 200px;

}


// -- Button Classes & IDs -- //

#add_button {

}

.delete {
        
}

.edit {

}

// -- List Items Classes & ID's --//

.list_of_items {

}

.completed_item {
	text-decoration: line-through;
}

h1 {
	display: inline-block;
}

body {
	background-color: #c8c9ca;
}

.container {
	background-color: #ffffff;
	border-radius: 10px;
	width: 50%;
}